{#
/**
 * List DropDown select Html
 *
 * @var $sOptions         : the select options, generated with the view item_options.php
 * @var $sOther           : the other input field, generated with the view item_noanswer.php
 *
 * @var $name
 * @var $dropdownSize
 * @var $checkconditionFunction
 * @var $select_show_hide
 * @var $dropdown_width
 * @var $dropdown_height_class
 *
 */
#}

<!-- List Dropdown -->

<!-- answer-->
{% set search_method = (question_template_attribute.search_method is empty) ? 'contains' : question_template_attribute.search_method %}
{% set dropdown_width = question_template_attribute.dropdown_width %}
{% set dropdown_height_class = (question_template_attribute.dropdown_height_class == 0) ? 'sm-select' :
    (question_template_attribute.dropdown_height_class == 1) ? 'md-select' :
    (question_template_attribute.dropdown_height_class == 2) ? 'lg-select' : 'xl-select'
%}

<div class="form-inline">
    <div class="{{ coreClass }} form-group answers-full-width">
        <select
                class="form-control list-question-select"
                name="{{ name }}"
                id="answer{{ name }}"
                {% if dropdownSize %} size={{ dropdownSize }} {% endif %}
                aria-labelledby="ls-question-text-{{ basename }}"
        >
                {# rows/option.php #}
                {{ sOptions }}
        </select>
            {# rows/othertext.php #}
            {{ sOther }}

        {# Value for expression manager javascript (use id) ; no need to submit #}
        {{ C.Html.hiddenField("java"~name,value,({
            'id' : "java"~name,
            'disabled' : "disabled",
        }))
        }}
    </div>
</div>

{{ registerPackage('bootstrap-select2') }}

<script type="text/javascript" charset="utf-8">

	$(document).on('ready pjax:scriptcomplete',function(){
		initSSD('{{name}}', '{{search_method}}', '{{dropdown_width}}'); 
        initDropdownHeight('{{name}}', '{{dropdown_height_class}}');
	});
</script>
<!-- end of answer  -->
